<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServerSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServerSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44357/ServerASMX.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServerSoap" contract="ServerASMX.ServerSoap"
                name="ServerSoap" />
        </client>
    </system.serviceModel>
</configuration>